<head>
</head>

<body>

  <!-- Dashboard -->
  <div class="col-6">
    <button id="back-btn">Go back move</button>
    <button id="forward-btn">Go forward move</button>
    <button id="return-to-game-btn" style="display: none">Return to game</button>
  </div>

  <!-- SVG Go Board -->
  <div>
    <svg id="board" width="500" height="500"></svg>
  </div>



  <!-- JS -->
  <!-- Helpers -->
  <script src="../core/helpers.js"></script>
  
  <!-- Board model -->
  <script src="../core/board.js"></script>
  
  <!-- Views -->
  <script src="../views/viewSettings.js"></script>
  <script src="../views/viewUtils.js"></script>
  <script src="../views/dashview.js"></script>
  <script src="../views/boardview.js"></script>

  <!-- Game Data & Controls -->
  <script src="../gamedata/gameParams.js"></script>
  <script src="../gamedata/groupTable.js"></script>
  <script src="../gamedata/analysisMode.js"></script>

  <script src="../controls/controlUtils.js"></script>
  <script src="../controls/groupcontrol.js"></script>
  <script src="../controls/stonecontrol.js"></script>
  <script src="../controls/boardcontrol.js"></script>
  <script src="../controls/dashcontrol.js"></script>

  <!-- Main file -->
  <script src="../core/main.js"></script>

</body>