<head>
</head>

<body>
  
  <!-- Button panel, score etc. -->
  <div>
    <!-- Undo button -->
    <button id="back-btn">Go back move</button>

    <!-- Analysis mode on?
    <span id="analysis-indicator" style="display: none">analysis on</span>
    <script>
      if (params.analysisMode == true) {
        var i = document.getElementById("analysis-indicator");
        i.style.display = "inline";
      }
    </script> -->
  </div>

  <div>
    <!-- SVG Go Board -->
    <svg id="board" width="600" height="600"></svg>
  </div>

  <!-- JS -->
  <!-- Helpers -->
  <script src="../core/helpers.js"></script>
  
  <!-- Board model -->
  <script src="../core/board.js"></script>
  
  <!-- Views -->
  <script src="../views/viewSettings.js"></script>
  <script src="../views/viewUtils.js"></script>
  <script src="../views/boardview.js"></script>

  <!-- Game Data & Controls -->
  <script src="../gamedata/gameParams.js"></script>
  <script src="../gamedata/groupTable.js"></script>
  <script src="../gamedata/analysisMode.js"></script>
  
  <script src="../controls/groupDetection.js"></script>
  <script src="../controls/stoneDetection.js"></script>
  <script src="../controls/boardcontrol.js"></script>

  <!-- Main file -->
  <script src="../core/main.js"></script>

</body>